{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% block extrastatic %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <meta charset="UTF-8">
    <title>{% block title %}Document {% endblock %}</title>
</head>
<body>
{% block header %}
    <h4>Bloque Header Base</h4>
{% endblock %}

{% block navbar %}
    <div>
            <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">REGUFIO</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'adopcion:index' %}">Adopcion <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'mascota:index' %}">Mascota</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown mascota <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'mascota:mascota_crear' %}">Crear</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'mascota:mascota_listar' %}">Listar</a></li>
                <li class="divider"></li>
                <li><a href="#">Otra opcion</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
{% endblock %}

{% block content %}
    <h5>Contenido Archivo Base</h5>
{% endblock %}

{% block footer %}
    <div class="navbar navbar-default">
    <h5 style="color: whitesmoke">Bloque Footer Base</h5>
    </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% block extrajs %}
{% endblock %}

</body>
</html>